* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .gridLayout {
      background-color:  #EFF0F3;
      display: grid;
      grid-template-rows: 50px 220px 300px 300px 250px 250px 70px;
      grid-template-columns: 1fr 20px 4fr;
      grid-gap: 5px;
      grid-template-areas: 
      "header header header header header"
      "left aside-left main main paddingRight"
      "left aside-left skills skills paddingRight"
      "left aside-left case-study-1 case-study-1 paddingRight"
      "left aside-left case-study-2 case-study-2 paddingRight"
      "left aside-left case-study-3 case-study-3 paddingRight"
      "footer footer footer footer footer"
    }
  
  /* Navigation CSS */ 
  .header {
    background-color: #EFF0F3;
    grid-area: header;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  .logo {
    display: flex;
    margin-left:4.5em;
  }
  #navBar {
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
  }
  #navBar h1 {
    width: 25%;
    font-weight: 500;
  }
  .topnav {
    display: block;
    align-self: center;
  }
  .topnav a {
    float: left;
    color: #0b5351;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1em;
  }
  .topnav a:hover {
    background-color: #0b5351;
    color: #EFF0F3;
  }
  
  /* Left Rail CSS */
  .aside-left {
    grid-area: aside-left;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 7em;
    margin-left: 2.3em;
  }
  
  /* Main Area CSS */
  .main {
    grid-area: main;
    margin-top: 4em;
  }

  .sectionHeading {
    text-align: center;
    margin-bottom: 2em;
  }

  .skills {
    grid-area: skills;
  }

  .flex-container {
    list-style: none;
    display: flex;
    flex-direction:row;
  }
  
  .flex-start { 
    justify-content: space-evenly; 
  }
  
  .flex-skill {
    padding: 1em;
    width: 14em;
    height: 3em;
    font-weight: bold;
    text-align: center;
    background: rgb(144,194,231,.5);
    border-radius: 10px;
  }

  .flex-subskill {
    list-style: disc;
    font-weight: normal;
    width:14em;
    height:9em;
    line-height:normal;
    text-align:left;
    list-style-position: inside;
    margin-top: 1.5em;
    background: rgb(144,194,231,.5);
    border-radius: 10px;
  }

  .caseStudy {
    background: green;
  }
  .caseStudyImage {
    align-self: flex-end;
  }


  .case-study-1 {
    grid-area: case-study-1;
  }
  .case-study-2 {
    grid-area: case-study-2;
  }
  .case-study-3 {
    grid-area: case-study-3;
  }
  
  /* Footer CSS */
  .footer {
    grid-area: footer;
    background-color: #092327;
    color: #EFF0F3;
    height: max-content;
    padding: 28px;
    display: flex;
    justify-content: space-between;

    left: 0;
    bottom: 0;
    width: 100%;
  }
  .social {
    margin-right: 5%;
  }
  

  
  /* Typography CSS */
  h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #0b5351;
  }
  h2 {
    font-size: 2em;
    font-weight: bold;
    color: #092327;
  }
  h3 {
    font-size: 1.5em;
    color: #0b5351;
    font-weight: bold;
  }
  h4 {
    font-size: 1.5em;
    color: #092327;
  }
  h5 {
    font-size: 1em;
  }

/* RWD CSS */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}