* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
  }
#nav {
  display: flex;

}
.topnav {
  display: block;
  align-self: center;
}
.topnav a {
  float: right;
  color: teal;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.topnav a:hover {
  background-color: teal;
  color: white;
}